site_name: PPT
repo_url: https://github.com/shenxiangzhuang/python-package-template
repo_name: shenxiangzhuang/python-package-template
edit_uri: ""
site_description: Python Package Template.
site_author: Xiangzhuang Shen
copyright: Copyright &copy; 2023 Xiangzhuang Shen

# Page tree
nav:
  - Home: index.md
  - Getting started:
      - Quick Start: quickstart.md
  - Changelog: CHANGELOG.md

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  language: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
  features:
    # - announce.dismiss
    - content.code.annotate
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate

docs_dir: docs

extra_css:
  - css/extra.css

extra_javascript:
  - js/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/shenxiangzhuang/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/xiangzhuang-shen-a81825157/

markdown_extensions:
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      linenums_style: pymdownx.inline
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.tabbed
  - abbr
  - admonition
  - attr_list
  - footnotes

plugins:
  - search
  - bibtex:
      bib_file: "docs/references.bib"
      csl_file: "https://raw.githubusercontent.com/citation-style-language/styles/master/ieee.csl"
      cite_inline: false
